.submit {
    font-size: 18px; 
    padding: 10px 20px; 
    position: absolute; 
    bottom: 80px; 
    right: 20px; 
    background-color: #ffdd48; 
    color: black; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
  }
  
  .submit:hover {
    background-color:#fde783; 
  }