.title {
  text-align: center;
  padding: 2rem 0;
}

.titleText {
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 0.02em;
}

.subTitleText {
  color: var(--font-color-secondary);
  font-size: 24px;
  font-weight: 200;
  margin-top: 0.8rem;
}
