.header {
  display: flex;
  align-items: center;
  background-color: #fdd835;
  padding: 16px;
  box-shadow: 0px 4px 2px -2px gray;
}

.backButton {
  font-size: 24px;
  border: none;
  background: none;
  cursor: pointer;
  color: #333;
  margin-right: 20px;
}

.title {
  flex: 1;
  text-align: center;
  margin: 0;
  font-size: 24px;
  color: #333;
}

.backIcon {
  width: 25px;
  height: auto;
}
