.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-primary);
  padding: 0 16px;
  height: 4rem;
}

.backButtonContainer {
  min-width: 40px;
}

.backButton {
  border: none;
  background: none;
  cursor: pointer;
  width: 100%;
  display: flex;
}
