.signup {
  width: 100%;
  padding: 4rem;
  display: flex;
  flex-direction: column;
}

.presentation {
  height: 20vh;
}

.title {
  font-weight: 400;
}

.gridContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 2.5rem 4rem;
}

.button {
  height: 4.1rem;
  align-self: flex-end;
}
