.main {
  padding: 20px;
}

.profileContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.textContainer {
  margin-left: 15px;
}

.profileDescription {
  font-size: 24px;
  font-weight: bold;
}

.profileText {
  font-size: 16px;
  color: #666;
}

.reviewsContainer {
  width: 100%;
}

.reviewsTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.reviewsList {
  display: flex;
  flex-wrap: wrap; /* Faz os cards ficarem lado a lado */
  gap: 20px;
}

.reviewItem {
  display: flex;
  flex-direction: column;
  width: 220px; /* Tamanho do card */
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bookInfo {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.bookDetails {
  margin-left: 10px;
  flex-grow: 1;
}

.bookTitle {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.comment {
  font-size: 14px;
  color: #666;
}

.bookImage {
  border-radius: 4px;
}

.rating {
  margin-top: 5px;
}

.beeRating {
  display: flex;
  align-items: center;
  gap: 5px;
}

.beeIcon {
  width: 20px;
  height: 20px;
}
