.main {
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profileContainer {
  width: 100%;
}

.profileImage {
  border-radius: 50%;
}

.userName {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 5px 0;
}

.publications {
  font-size: 1.5rem;
  margin: 5px 0;
  color: #666;
}

.userBio {
  font-size: 2rem;
  color: #666;
}

.profileContainer {
  margin-bottom: 15px;
  width: 100%;
}

.reviewsTitle {
  font-size: 1.5rem;
  margin-top: 15px;
}

.reviewsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 15px;
}

.reviewItem {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  background-color: #f0f8ff;
  border-radius: 0.625rem;
  box-shadow: 0 0.375rem 0.75rem rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: calc(33.33% - 5px);
  box-sizing: border-box;
}

.bookInfo {
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px;
}

.bookDetails {
  display: flex;
  flex-direction: column;
  margin-left: 0.9375rem;
}

.bookTitle {
  font-weight: bold;
  font-size: 1.2rem;
}

.beeIcon {
  margin-left: 5px;
  color: #f39c12;
}

.commentLabel {
  margin-top: 5px;
  font-weight: bold;
}

.comment {
  margin-top: 5px;
  font-size: 0.95rem;
  color: #333;
}

@media (max-width: 1500px) {
  .bookDetails {
    width: 900px;
  }
}

@media (max-width: 768px) {
  .bookDetails {
    width: 180px;
  }
}

@media (max-width: 480px) {
  .bookDetails {
    width: 100%;
  }
}
