.reviewsList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 6rem;
}

.userData {
  display: flex;
  flex-direction: column;
  width: 12rem;
}

.reviewItem {
  border: 1px solid #f7dc6f;
  padding: 1rem;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  height: auto;
}

.username {
  width: fit-content;
}

.comment {
  color: #555;
  font-size: 0.8rem;
  width: 40rem;
  word-wrap: break-word;
}

@media (max-width: 768px) {
  .reviewItem {
    flex-direction: column;
    gap: 0.5rem;
  }

  .userData {
    width: 100%;
  }

  .comment {
    width: 100%;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .reviewItem {
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.8rem;
  }

  .userData {
    width: 100%;
  }

  .comment {
    width: 100%;
    font-size: 0.8rem;
  }
}
